<div class="pt-20 pb-4 md:pt-[15rem] md:pb-0">
    <p class="text-[#BDBDBD] text-center text-sm font-[500] leading-normal">
        created by <a
            class="font-bold underline"
            href="https://github.com/VRVG1">VRVG1</a
        > - devChallenges.io
    </p>
</div>
